.logo {
  background: #222;
  border-radius: 2px;
  display: inline-block;
  margin-bottom: 7px;
  padding: 10px;
  position: relative;
  z-index: 1100;
  @media only screen and (min-width : 1250px) {
    left: -50px;
    margin-bottom: 0;
    position: absolute;
    top: 5px;
  }
}
header {
  .btn {
    display: inline-block;
    margin-bottom: 20px;
  }
}
.title-bar {
  background: #fff;
  border-bottom: 1px dotted #ddd;
  color: #fff;
  padding: 15px 0;
  @media only screen and (min-width : 1000px) {
  }
}
.banner {
  padding: 25px 0;
  @media only screen and (min-width : 750px) {
  }
}