*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
}

img {
  max-width: 100%;
}
img + p {
  margin-top: 20px;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}