{% include header.html %}

<header>
  <div class="title-bar">
    <section class="container group">
      <div class="logo">
        <a href="//fcc.gov" title="fcc.gov"><img src="img/fcc-logo-white.png" alt="FCC" /></a>
      </div>
      <hgroup class="heading">
        <h1>{{ site.desc }}</h1>
        <h2>{{ site.title }}</h2>
      </hgroup>
    </section>
  </div>

  <section class="container banner">
    <img src="img/e-rate-learning-crop.jpg" alt="Kids Learning" />
    <article class="content">
      <h5>Bringing E-Rate into the 21st Century</h5>
      <p>The E-Rate program has helped connect nearly all U.S. schools and libraries to affordable telecommunications services. But E-rate rules were written nearly two decades ago when most students only went online at school in computer labs. And pagers were as popular as cell phones. Since then, technology has changed dramatically.</p>
      <p>Digital learning today means enabling all students to use tablets or laptops from their classroom desks and connecting Americans in library workspaces. It’s time to update E-rate to meet today’s needs.</p>
    </article>
  </section>
</header>

<div class="main inverse">
  <section class="container">
    <article class="content">
      <h5>Closing the Wi-Fi Gap</h5>
      <p>Three out of five schools in America lack the wireless high-speed Internet – or Wi-Fi – to carry data at today’s broadband speeds. Wi-Fi is the most cost-effective way to enable students to have individual access to the Internet at today’s speeds so that they can engage online learning and get the skills needed to compete in the 21st century information economy. Despite this incredible Wi-Fi connectivity gap, no E-Rate funds were available for Wi-Fi last year. And even when funds have been available for Wi-Fi, they have only reached about 5% of schools and 1% of libraries.</p>
    </article>

    <div class="group">
      <div class="col-half">
        <figure id="schools"></figure>
      </div>
      <div class="col-half">
        <figure id="libraries"></figure>
      </div>
    </div>
    <div class="content notes">
      <p>"Total library Locations" includes just central and branch libraries and not bookmobiles.</p>
    </div>

    <article class="content">
      <p>FCC Chairman Tom Wheeler put forward a proposal that is the first step in modernizing the program. The proposal has three goals:</p>
      <ol>
        <li><strong>Close the Wi-Fi gap</strong> – get high-speed Internet to all classrooms and libraries by 2018.</li>
        <li><strong>Make E-Rate dollars go farther</strong> – ensure money is being spent fairly and efficiently.</li>
        <li><strong>Streamline the program</strong> – make it faster, simpler, more efficient for all schools and libraries to apply for funds.</li>
      </ol>
    </article>
  </section>
</div>

<div class="main">
  <section class="container">
    <article class="content">
      <h5>More Wi-Fi for Rural, Urban &amp; Suburban Schools</h5>
      <p>In January, FCC Chairman Tom Wheeler ordered a full review of the E-rate program. In the process, the staff identified $2 billion that can be spent over the next two years to help close the Wi-Fi gap. That’s an <strong>additional billion</strong> on top of E-Rate’s annual $2.4 billion budget for 2015 and 2016.</p>
      <p>Funding to pay for Wi-Fi after 2016 will come from phasing down support to non-broadband services, applying those savings – $1.2 billion annually -- to Wi-Fi, and making dollars go farther through cost-saving efficiency measures.</p>
      <h6>So how much Wifi does this mean for our schools and libraries?</h6>
      <p>The proposal would increase Wi-Fi funding to rural schools by 75% and to urban and suburban schools by 60% over the next 5 years.</p>
    </article>

    <div class="group">
      <div class="col-half">
        <figure id="rural"></figure>
      </div>
      <div class="col-half">
        <figure id="urban"></figure>
      </div>
    </div>
  </section>
</div>

<div class="main inverse">
  <section class="container">
    <article class="content">
      <h5>Maximizing Current Funds, Connecting Millions</h5>
      <p>This proposal is just the first step in modernization that focuses on tackling a major issue that we can solve right now -- expanding wireless connectivity that plays a critical role in today's educational environments.</p>
      <p>Before we ask Americans to spend more money -- E-rate is funded by a charge on telephone subscribers’ bills -- we have to make sure we are stretching every dollar of current funding as far as it can go.  It is critical that we take action now to close the WiFi gap and provide high-speed Internet access for millions of students and library patrons across the country.</p>
      <p>Over the next 5 years <strong>more than 40 million students, 100,000 students, and 15,000 libraries</strong> will benefit from this increase.</p>
      <figure id="students-5"></figure>
      <figure id="schools-5"></figure>
      <figure id="libraries-5"></figure>
    </article>
  </section>
</div>

{% include footer.html %}